/* 
*  sass --watch assets/scss/main.scss assets/css/style.css 

 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    max-width: 1440px;
    scroll-behavior: smooth;
}


@mixin kugelnPrameterBackgroundColor ($background-color) {
    width: 100px;
    height: 100px;
    border-radius: 50%;

    background-color: $background-color;
}

@mixin bewegung___ZweiParameter___PauseDauer ($Pause, $Dauer) {
    animation-name: bewegung;
    animation-delay: $Pause;            // Pause am Anfang
    animation-duration: $Dauer;         // dauer der a
animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; // unendliche wiederholung
}

.ball1 {
    @include kugelnPrameterBackgroundColor(red);


 @include bewegung___ZweiParameter___PauseDauer(0.5s, 2s)        // * ohne hover legt Bewegung sofort beim Seitnladen los



}

.ball2 {
    @include kugelnPrameterBackgroundColor(blue);
@include bewegung___ZweiParameter___PauseDauer(1s, 1s);
}

.ball3 {
    @include kugelnPrameterBackgroundColor(yellow);
    @include bewegung___ZweiParameter___PauseDauer(2s, 4s);
}

@keyframes bewegung {
    0% {
        transform: translateX(0px);
    }

    25%{
        transform: translateX(70vw);
    }
    30%{
        transform: translateY(2px);
    }

    50% {
        transform: translateX(50vw);
    }

    100% {transform: translateX(400px);}
}